.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400;
  background-color: white;
  box-shadow: 24;
  border-radius: 15px;
  padding: 1em;
  outline: none
}
.modal__form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
